body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 2%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav button{
   padding: 4px 10px;
}

dialog{
    top: -20%;
}
h3{
    margin: 5px 0;
}
.text-fields div{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.text-fields input{
    width: 60%;
}
fieldset{
    border: none;
    margin: 0;
    padding: 5px;
}
.radio-selector{
    display: flex;
    justify-content: space-around;
}
form > div{
    margin-top: 10px;
}
#confirm-button{
    font-weight: 900;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.delete-book{
    height: 15px;
    cursor: pointer;
}
.read{
    cursor: pointer;
}